@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background-color: white; */
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

ol {
  /* padding-left: 1rem !important ; */
  list-style: decimal !important;
}

ul {
  padding-left: 0 !important;
}

ol .blog-p {
  margin-left: -16px;
}

.heading-one {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #0e6936;
}

.blog-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: justify;
  color: #243823;
}

.subheading {
  font-size: 32px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: justify;
  color: #0e6936;
  margin-top: 4rem !important;
}

.list-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: justify;
  color: #0e6936;
}

/* hero-section */

.hero-section {
  margin-top: 120px !important;
}

section:not(#hero-section) {
  padding-bottom: 0 !important;
}

.list {
  list-style: disc !important;
  padding-left: 3rem !important;
}

/* banner-section */

.banner-btn {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  background: #84ba3f;
  border-radius: 25px;
  padding: 12px 50px;
  border: none !important;
}

.banner-sec {
  margin-top: -50px;
}

/* End banner-section */

/* tags */

.tags-btn {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  background: #84ba3f;
  border-radius: 25px;
  padding: 10px 25px;
  border: none !important;
}

/* Faq */

.accordion-button {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 33px !important;
  letter-spacing: 0em !important;
  text-align: left;
  color: #003d06 !important;
  padding: 30px 0px 10px 0px !important;
  border-bottom: 0.99px solid #0e6936 !important;
}

.accordion-item {
  border: none !important;
}

.accordion-button:not(.collapsed) {
  color: none;
  background-color: white !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  border-color: white !important;
  outline: 0 !important;
}

.accordion-collapse.collapse.show {
  border-bottom: none !important;
}

.accordion-button.collapsed {
  box-shadow: none;
}

.accordion-body {
  background: #b7b7b740;
  color: #003d06;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0 !important;
  border-bottom: 0.99px solid #0e6936 !important;
}
.accordion-button::after {
  margin-top: 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='14' viewBox='0 0 22 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2982 12.9365L1.27592 3.96051C0.859508 3.49782 0.859508 2.8038 1.27592 2.38739L2.34009 1.32322C2.7565 0.906805 3.45053 0.906805 3.91321 1.32322L11.0848 8.44852L18.2101 1.32322C18.6728 0.906805 19.3668 0.906805 19.7832 1.32322L20.8474 2.38739C21.2638 2.8038 21.2638 3.49782 20.8474 3.96051L11.8251 12.9365C11.4087 13.3529 10.7146 13.3529 10.2982 12.9365Z' fill='%2384BA3F'/%3E%3C/svg%3E") !important;
  width: 22px;
  height: 14px;
}

/* Related Products */

.online-course-card .course__col {
  position: relative;
  padding: 30px;
  box-shadow: 0px 2px 40px rgb(0 0 0 / 10%);
  border-radius: 5px;
  background-color: white;
  height: 100%;
  /* max-width:  354px; */
  height: 215.18px;
  margin-top: 15px;
}

.online-course-card .course-content {
  z-index: 2;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.online-course-card .course-meta {
  display: flex;
  gap: 20px;
  justify-content: center !important;
}

.online-course-card .course-meta img {
  margin-top: 2px;
}

.online-course-card .course-meta a {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.online-course-card .course-pattern {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: url(https://cdn.study365.co.uk/wp-content/themes/study365/assets/img/home/course-pattern.png)
    no-repeat bottom left;
  z-index: 1;
}

.online-course-card .btn-normal {
  gap: 16px;
  text-align: center;
  color: white !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  padding: 12px;
  border-radius: 5px;
  text-decoration: none;
  height: 45px;
  width: 100%;
  background-color: #0e6836 !important;
  border: 1px solid #0e6936;
}

.online-course-card .cut-price {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  text-decoration: line-through;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #949494;
}

.online-course-card .price {
  font-family: Poppins;
  font-size: 20px !important;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #243823;
}

.mfp-image-holder .mfp-content,
figure,
img,
img.mfp-img,
select {
  max-width: fit-content !important;
}

/* Form */

/* .faq-form {
    width: 85%;
} */

.faq-form .form-group label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #003d06 !important;
  display: block;
  margin-bottom: 15px;
}

.faq-form .form-group :is(input, textarea) {
  width: 100%;
  max-width: 100%;
  padding: 12px 15px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  color: #242323;
}

.faq-form .form-group {
  margin-bottom: 35px !important;
}

.form-check-label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #243823;
}

.form-check {
  display: flex !important;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
  gap: 10px !important;
}

.faq-form #contact-form textarea.form-control {
  height: 150px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

#heading10 .faq-form #contact-submit-btn {
  width: 100% !important;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #84ba3f;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px !important;
}

.form-control:focus {
  -webkit-box-shadow: none !important;
  font-size: 16px !important;
}

.modal-content {
  margin-top: 15% !important;
  overflow: hidden !important;
}

.modal-content .mfp-image-holder .mfp-content,
figure,
img,
img.mfp-img,
select {
  max-width: none !important;
}

/* Sidebar */

.page .sidebar,
.single .sidebar {
  padding-top: 0 !important;
}

.right-sec {
  /* top: 110px !important; */
  position: fixed !important;
  right: 0 !important;
}

.right-sec nav {
  float: left;
}

.social-media {
  padding: 20px;
}

.social-media p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.right-section .section-nav {
  background: #fbfdf9;
  border-top-width: 7px;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-color: #84ba3f;
  border-bottom-color: #84ba3f;
  padding: 20px;
}

.right-section ol {
  padding: 0 !important;
}

.avatar-sec {
  border-bottom: 1px solid #9494943b;
  padding: 0px 0 20px;
}

.sidebar-heading {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #243823;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #949494;
  padding-bottom: 10px;
}

#register-section-responsive {
  display: none;
}

/* ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
  color: rgb(76, 204, 76);
  font-weight: 700 !important;
}

/* Sidebar Navigation */

.section-nav ol {
  list-style: none !important;
}

.section-nav a {
  text-decoration: none;
  color: #0e6936;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
  color: rgb(76, 204, 76);
}

.sidebar-subheading a {
  color: #0e6936 !important;
}

.sidebar-subheading {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.register-section {
  background: #fafcf7;
  border-top-width: 7px;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-color: #84ba3f;
  border-bottom-color: #84ba3f;
  padding: 25px 50px;
  margin-top: 50px;
}

.register-section p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #0e6936;
}

.register-section span {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #414042;
}

.register-btn {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  background: #84ba3f;
  border-radius: 25px;
  padding: 12px 50px;
}

/* Shares section */

.shares-sec {
  margin-top: 4rem;
}

.shares-sec p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #243823;
  margin: -5px 0;
}

.shares-sec span {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #929497;
}

.reads p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #90bf3f;
}

.reads span {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #243823;
}

/* Enquire Now Popup */

.modal {
  padding: 0 0 30px;
}

.modal-backdrop.show {
  opacity: 0 !important;
}

.modal-backdrop {
  position: fixed;
  z-index: 0 !important;
  background-color: #000;
}

.modal-header {
  border-bottom: none !important;
}

.form-control {
  height: auto !important;
}

.form-floating > label {
  padding: 0.75rem !important;
  font-weight: 400;
}

.form-floating .iti {
  width: 100%;
}

.iti {
  width: 100% !important;
}

.form-floating #Message {
  box-shadow: none;
  border: 1px solid rgba(66, 66, 66, 0.43) !important;
  height: 100px !important;
}

.form-floating > .form-control {
  box-shadow: none;
  border: 1px solid rgba(66, 66, 66, 0.43);
  height: 4rem !important;
  font-size: 14px;
  overflow: hidden;
}

.form-floating .iti input[type="tel"] {
  width: 100%;
  border-radius: 0.25rem;
  height: 4rem !important;
  line-height: 1.25;
  font-size: 1.5rem;
  border: 1px solid rgba(66, 66, 66, 0.43);
  box-shadow: none;
}

.iti__country {
  padding: 5px 10px !important;
  outline: 0;
}

.iti__country-list {
  list-style: none !important;
  padding: 0 !important;
}

.form-floating > .form-select {
  padding: 1rem 0.75rem 0.75rem !important;
}

.invalid-feedback {
  text-align: left;
}

.form-submit-btn {
  font-size: 1.5rem !important;
  font-family: Poppins !important;
  line-height: 27px;
  color: #fff !important;
  background: #84ba3f !important;
  border-color: #84ba3f !important;
  border-radius: 10px !important;
  font-weight: 500 !important;
  height: 50px;
  width: 50% !important;
}

#iti-0__country-listbox {
  z-index: 10 !important;
}

.form-check .form-check-input {
  margin-top: 6px !important;
  margin-right: 5px;
  width: 2em;
  height: 2em;
}

/* Progress bar */

.header-progress {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  margin-top: 95px !important;
}

.progress-container {
  background-color: transparent;
  height: 10px;
  width: 100%;
}

.progress-bar {
  background-color: rgb(76, 204, 76) !important;
  height: 7px;
  width: 0%;
}

/* Media Quries */

@media only screen and (max-width: 1200px) {
  #register-section-responsive {
    display: block;
  }

  .register-section {
    position: relative;
  }

  .right-sec {
    display: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .right-section {
    margin-top: 50px;
  }

  .header-progress {
    margin-top: 85px !important;
  }
}

@media only screen and (max-width: 768px) {
  .banner-sec {
    margin-top: -20px;
  }

  .online-course-card .course-meta {
    align-items: center;
    justify-content: center !important;
  }

  #tags .buttons {
    display: grid !important;
  }

  #tags .tags-btn {
    width: fit-content !important;
  }
  .header-progress {
    margin-top: 90px !important;
  }
  .form-check {
    display: block !important;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    padding: 0px 20px !important;
  }
  .header-progress {
    margin-top: 85px !important;
  }
  /* .mt-5{
        margin-top: 1rem !important;
    } */

  .heading-one {
    font-size: 30px;
    line-height: 40px;
  }

  .blog-p,
  .list-heading,
  .accordion-button,
  .accordion-body,
  .online-course-card .course-meta a {
    font-size: 16px !important;
  }

  .blog-p{
    line-height: 27px !important;
    text-align: left !important;
  }

  .subheading {
    font-size: 24px;
    line-height: 30px;
    text-align: left !important;
  }

  .right-section,
  .register-section {
    padding: 25px 15px;
  }

  .modal-body {
    padding: 20px 0;
  }

  .hero-section .shares-sec {
    display: grid !important;
    justify-content: initial !important;
  }

  .reads {
    justify-content: space-between !important;
    margin-top: 15px;
  }
  #main-footer .container {
    padding: 0 !important;
  }
  .modal-content {
    padding: 0 !important;
  }
  .shares-sec {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .faq-form {
    width: 90%;
  }
}

.modal-open {
  transform: inherit !important;
  opacity: 1 !important;
  transition: opacity 0.2s ease-in;
}

/* FORMS */
/* FORMS */
.modal {
  padding: 0 0 30px;
}
#modal-container5 .modal {
  background-image: url("https://cdn.study365.co.uk/wp-content/themes/study365/assets/img/home/course-pattern.png") !important;
  background-repeat: no-repeat !important;
  background-position: bottom left !important;
}
#modal-container5 .modal .term_content h2 {
  font-size: 36px;
  line-height: 46px;
  padding-bottom: 10px;
}
.modal .term_content {
  max-width: 500px;
  height: 465px;
}
.scrollbar {
  overflow-y: scroll;
  max-height: 400px;
}
.modal .term_content ul {
  list-style: decimal;
  padding: 2rem;
}
.modal .term_content ul > li > ul {
  list-style: lower-roman;
  padding-top: 1rem;
}
.modal .term_content ul > li {
  font-size: 14px;
  padding-bottom: 10px;
  color: #a9a9a9;
  text-align: left;
}
.modal::-webkit-scrollbar {
  width: 0.5em !important;
}
.modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}
.modal::-webkit-scrollbar-thumb {
  background-color: darkgrey !important;
  outline: 1px solid slategrey !important;
}
.modal #close_modal,
.modal #close_modal2,
.modal #close_modal3,
.modal #close_modal5 {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0 0 0 5px;
}
#modal-container,
#modal-container4,
#modal-container5 {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 9999;
}
#modal-container.two,
#modal-container4.two,
#modal-container5.two {
  transform: scale(1);
}
#modal-container.two .modal-background,
#modal-container4.two .modal-background,
#modal-container5.two .modal-background {
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two .modal-background .modal,
#modal-container4.two .modal-background .modal,
#modal-container5.two .modal-background .modal {
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two + .content,
#modal-container4.two + .content,
#modal-container5.two + .content {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  text-align: center;
  z-index: 0;
}
#modal-container.two.out,
#modal-container4.two.out,
#modal-container5.two.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
  transform: scale(0);
}
#modal-container.two.out .modal-background,
#modal-container4.two.out .modal-background,
#modal-container5.two.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two.out .modal-background .modal,
#modal-container4.two.out .modal-background .modal,
#modal-container5.two.out .modal-background .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two.out + .content,
#modal-container4.two.out + .content,
#modal-container5.two.out + .content {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background,
#modal-container4 .modal-background,
#modal-container5 .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal,
#modal-container4 .modal-background .modal,
#modal-container5 .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  width: inherit;
  height: inherit;
  overflow: auto;
  width: min(625px, 100vw - 25px);
}
#modal-container5 .modal .term_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
/* FORMS */
/* FORMS */
.modal {
  padding: 0 0 30px;
}
#modal-container5 .modal {
  background-image: url("https://cdn.study365.co.uk/wp-content/themes/study365/assets/img/home/course-pattern.png") !important;
  background-repeat: no-repeat !important;
  background-position: bottom left !important;
}
#modal-container5 .modal .term_content h2 {
  font-size: 36px;
  line-height: 46px;
  padding-bottom: 10px;
}
.modal .term_content {
  max-width: 500px;
  height: 465px;
}
.scrollbar {
  overflow-y: scroll;
  max-height: 400px;
}
.modal .term_content ul {
  list-style: decimal;
  padding: 2rem;
}
.modal .term_content ul > li > ul {
  list-style: lower-roman;
  padding-top: 1rem;
}
.modal .term_content ul > li {
  font-size: 14px;
  padding-bottom: 10px;
  color: #a9a9a9;
  text-align: left;
}
.modal::-webkit-scrollbar {
  width: 0.5em !important;
}
.modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}
.modal::-webkit-scrollbar-thumb {
  background-color: darkgrey !important;
  outline: 1px solid slategrey !important;
}

.modal #close_modal5 {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  background: #84ba3f;
  border-radius: 0 0 0 5px;
}

#modal-container5 {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 9999;
}
#modal-container.two,
#modal-container4.two,
#modal-container5.two {
  transform: scale(1);
}
#modal-container.two .modal-background,
#modal-container4.two .modal-background,
#modal-container5.two .modal-background {
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two .modal-background .modal,
#modal-container4.two .modal-background .modal,
#modal-container5.two .modal-background .modal {
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two + .content,
#modal-container4.two + .content,
#modal-container5.two + .content {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  text-align: center;
  z-index: 0;
}
#modal-container.two.out,
#modal-container4.two.out,
#modal-container5.two.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
  transform: scale(0);
}
#modal-container.two.out .modal-background,
#modal-container4.two.out .modal-background,
#modal-container5.two.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two.out .modal-background .modal,
#modal-container4.two.out .modal-background .modal,
#modal-container5.two.out .modal-background .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two.out + .content,
#modal-container4.two.out + .content,
#modal-container5.two.out + .content {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background,
#modal-container4 .modal-background,
#modal-container5 .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal,
#modal-container4 .modal-background .modal,
#modal-container5 .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  width: inherit;
  height: inherit;
  overflow: auto;
  width: min(625px, 100vw - 25px);
}
#modal-container5 .modal .term_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#headertop1 .toddive .topmenu .avatar {
  max-width: 100% !important;
}

#heading9 ,#heading8 .subheading{
  margin-top: 6rem !important;
}